@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	font-family: 'Poppins', sans-serif;
	/* background-color: #282c34; */
	min-height: 100vh;
	/* color: white;
	font-size: 4rem;
	font-weight: 600; */
}
